/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:a7e0abbb4ddcb4aed2b645fd4a3c1890$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite-2.png);}

.12_18 {width:130px; height:26px; background-position: -2px -2px}
.12_20 {width:130px; height:26px; background-position: -134px -2px}
.222_03 {width:269px; height:11px; background-position: -266px -2px}
.222_06 {width:267px; height:11px; background-position: -537px -2px}
.333_03 {width:269px; height:11px; background-position: -806px -2px}
.333_06 {width:267px; height:11px; background-position: -1077px -2px}
.aboutpage_07 {width:11px; height:11px; background-position: -1346px -2px}
.aboutpage_13 {width:11px; height:11px; background-position: -1359px -2px}
.aboutpage_18 {width:130px; height:26px; background-position: -1372px -2px}
.aboutpage_20 {width:130px; height:26px; background-position: -1504px -2px}
.productpage_03 {width:10px; height:7px; background-position: -1636px -2px}
