<?xml version="1.0"?>
<config>
  <modules>
    <Paybywayco_Paybyway>
      <version>0.1.2</version>
    </Paybywayco_Paybyway>
  </modules>
  <global>
    <resources>
      <paybyway_setup>
        <setup>
          <module>Paybywayco_Paybyway</module>
           <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </paybyway_setup>
    </resources>
    <models>
      <paybyway>
        <class>Paybywayco_Paybyway_Model</class>
      </paybyway>
    </models>
    <helpers>
      <paybyway>
        <class>Paybywayco_Paybyway_Helper</class>
      </paybyway>
    </helpers>
    <blocks>
      <paybyway>
        <class>Paybywayco_Paybyway_Block</class>
      </paybyway>
    </blocks>
  </global>
  <adminhtml>
  </adminhtml>
  <default>
    <payment>
      <paybyway>
        <model>Paybywayco_Paybyway_Model_Standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Paybyway</title>
        <payment_action>authorize</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <sub_merchant_id></sub_merchant_id>
        <merchant_private_key></merchant_private_key>
        <orderid_prefix></orderid_prefix>
        <pay_url>https://www.paybyway.com/e-payments/pay</pay_url>
        <settle_url>https://www.paybyway.com/pbwapi/settle</settle_url>
      </paybyway>
    </payment>
  </default>
  <frontend>
    <routers>
      <paybyway>
        <use>standard</use>
        <args>
          <module>Paybywayco_Paybyway</module>
          <frontName>paybyway</frontName>
        </args>
      </paybyway>
    </routers>
  </frontend>
</config>
