<?xml version="1.0"?>
<config>
    <modules>
        <Aws_Catalog>
            <version>0.1.0</version>
        </Aws_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <class>Aws_Catalog_Block</class>
                <rewrite>
                    <breadcrumbs>Aws_Catalog_Block_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>